<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
       and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/fontawesome/all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/home.css') }}">
        <link rel="stylesheet" href="{{ asset('css/website-list.css') }}">
        <link rel="stylesheet" href="{{ asset('css/cv.css') }}">
    {% endblock %}

</head>
<body class="col-md-12" style="background-color: #141414">
<header>
    <section id="header">
        <div class="title overflow-hidden">
            <a href="{{ path('home') }}"></a>
        </div>
        <div class="menu-header">
            {% block header %}

            {% endblock %}
        </div>
    </section>
</header>

{% block body %}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/home.js') }}"></script>
    <script src="{{ asset('js/websiteList.js') }}"></script>
    <script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/fontawesome/all.min.js') }}"></script>
{% endblock %}
</body>
</html>
